
/* Media Query */

@media(max-width:768px) {
    .toggle {
       display: block;
   }
   .links {
       display: none;
   }
   .navbar .container .links ul li {
       display: block;
       text-align: center;
       padding: 10px;
   }
   .navbar .container .links ul {
       float: none;
   }
   .navbar .container .logo {
       padding-top: 10px;
   }
}